.content--title {
    line-height: 39px;
    font-size: 32px;
    letter-spacing: -0.45px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
}

.d-none {
    visibility: hidden;
}

.header {
    height: 151px;
     background: var(--medium-pink);
     display: flex;
     justify-content: center;
     align-items: center;
     text-align: center;
}

.header--icon {
    width: 60px;
    height: 60px;
    position: absolute;
    right: 0;
}

.header-icon--close {
    opacity: 0;
    bottom: 0;
    z-index: -1;
}

.header-icon--close.header-icon--close-active {
    opacity: 1;
    z-index: 1;
}

.header--icon-lupa.header--icon-lupa-left{
    right: auto;
    left: 0;
    top: 42%;
    width: 50px;
}

.header--input {
    background: transparent;
    background-color: transparent !important;
    border: none;
    border-bottom: 0.7px solid transparent;
    width: 0%;
    max-width: 100%;
    font-size: 34px;
     color: white;
     padding: 4.3px 0 19px 40px;
     height: 0;
}

.header--input::placeholder {
    color: #991237;
}

.header-input-active {
    width: 100%;
    height: auto;
    border-color: var(--white);
}

.content--enterprises{
    padding-top: 44px;
}

.content--enterprises---list {
    display: block;
    margin: auto;
}

.content--enterprises---item {
    min-height: 213.9px;
    border-radius: 4.7px;
    list-style: none;
    width: 100%;
    background: white;
    padding: 27px 27px 27px 30.6px;
    display: flex;
    margin-bottom: 30px;
    cursor: pointer;
}

.content-enterprises---type{
    width: 293px;
    height: 160px;
    background: #7DC074;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    font-weight: bold;
    text-transform: uppercase;
}

.content-enterprises---desc{
    padding-top: 23px;
    padding-left: 39.4px;
}

.content-enterprises---name{
    color: var(--dark-indigo);
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
    line-height: 39px;
}

.content-enterprises---business {
    font-size: 24px;
}

.content-enterprises---business, .content-enterprises---country{
    color: var(--warm-grey);
}

.content-enterprises---country{
    font-size: 18px;
    margin-top: 4px;
}

.content-enterprises---desc-text{
    line-height: 36px;
    letter-spacing: -0.38px;
    color: (--warm-grey);
    font-size: 24px;
}

.content-enterprises---type.type-big {
    width: 100%;
}

.content--enterprises---item.list-block {
    display: block;
}

.content-enterprises---desc.desc-detail {
    padding-left: 0;
}

@media (max-width: 700px) {
    .content--enterprises---item {
        display: block;
    }

    .content-enterprises---type{
        width: 100%;;
    }

    .content-enterprises---desc{
        padding-left: 0;
    }
}