* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
}

:root {
    --white: #d8d8d8;
    --greeny-blue: #57bbbc;
    --beige: #ebe9d7;
    --white-two: #ffffff;
    --dark-indigo: #1a0e49;
    --warm-grey: #8d8c8c;
    --medium-pink: #ee4c77;
}

body {
  background: var(--beige);
  color: #383743;
  font-family: 'Roboto', sans-serif;
} 

a {
  color: transparent;
}
  